html,
body{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	min-width: 100%;
}

main{
	display: flex;
	justify-content: right;
	align-items: center;
	height: 100%;
	max-width: 100%;
	padding-right: 100px;
}

.blackboard{
	height: 100%;
	width: 100%;
	background: #000;
	border: 20px solid hsl(0, 74%, 8%);
	animation: resize 2s;
	animation-fill-mode: forwards;
}


@keyframes resize {


	100% {
		right: 100px;
		bottom:150px;
		height: 50%;
		width: 50%;

	}
	
}

.note{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0 0 0 20%;
	color: #000;
	height: 100px;
	width: 100px;
	background: #f4e401;
	z-index: -1;
	animation: resizeNote;
	animation-delay: 1s, 2s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes resizeNote {

	100%{
		border-radius: 0 0 0 20%;
		color: #000;
		transform: translate(-650px,0px);
		height: 400px;
		width: 300px;


	}
}


.noteContent{
display:flex;
flex-direction: column;
gap: 5px;
align-items: center;
height: 100%;
width: 100%;
font-size: 100%;
opacity: 0;
transition: opacity 1s ease-in;
}

.inputDate{
	height: 5%;
	width: 35%;
}

textarea{
	resize:none;
	outline: none;
	border: none;
}


.btnBox{
	display:flex;
	align-items: center;
	justify-content: space-around;

	height: 50%;
	width: 50%;
}


img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

img:hover{
	background: #fff;
}