html,
body{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	min-width: 100%;
}

main{
	display: flex;
	justify-content: right;
	align-items: center;
	height: 100%;
	max-width: 100%;
	padding-right: 100px;
}

.blackboard{
	display: grid;
	height: 100%;
	width: 100%;
	background: #000;
	border: 20px solid hsl(0, 74%, 8%);
	animation: resize 2s;
	animation-fill-mode: forwards;
}

ul{
	display: grid;
	grid-template-columns: repeat(5, 4fr);
	grid-template-rows: repeat(4, 2fr);
	grid-gap: 5px;
	place-items: start;
	margin: 0;
	padding: 1%;
	overflow: scroll;

	
}

li:first-child{
	display:inline-block;
	border-radius: 5px;

}

li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f4e401;
	color: #000;
	border-radius: 0 0 0 20%;
	height: 100px;
	width: 100px;
	overflow: hidden;
	
}


@keyframes resize {


	100% {
		right: 100px;
		bottom:150px;
		height: 50%;
		width: 50%;

	}
	
}

.note{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0 0 0 20%;
	color: #000;
	height: 100px;
	width: 100px;
	background: #f4e401;
	animation: resizeNote;
	animation-delay: 1s, 2s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	position: absolute;
}

@keyframes resizeNote {

	100%{
		border-radius: 0 0 0 20%;
		color: #000;
		transform: translate(-650px,0px);
		height: 400px;
		width: 300px;


	}
}


.noteContent{
display:flex;
flex-direction: column;
gap: 5px;
align-items: center;
height: 100%;
width: 100%;
font-size: 100%;
opacity: 0;
transition: opacity 1s ease-in;
overflow: hidden;
}

.inputDate{
	height: 5%;
	width: 35%;
}

textarea{
	resize:none;
	outline: none;
	border: none;
	height: 60%;
	width: 80%;
}


.btnBox{
	display:flex;
	align-items: center;
	justify-content: space-around;

	height: 50%;
	width: 50%;
}


img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

img:hover{
	background: #fff;
}

.pinned{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0 0 0 20%;
	color: #000;
	height: 100px;
	width: 100px;
	background: #f4e401;
}

li h1{
	font-size: 100%;
}


.noteReturnAnimated{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0 0 0 20%;
	color: #000;
	height: 100px;
	width: 100px;
	background: #f4e401;
	position: absolute;
		border-radius: 0 0 0 20%;
		color: #000;
		transform: translate(-1086px,-30px);
		height: 400px;
		width: 300px;	
		animation: aboveBoard 2s;
		animation-fill-mode: forwards;
}


@keyframes aboveBoard{
	0%{
		transform: translate(-1086px,-30px);
	}
	/* 25%{
		transform: translate(-500px,-150px);
	}
	50%{
		transform: translate(-250px,-150px);
	}
	75%{
		transform: translate(-125px,-200px);
	} */
	100%{
		box-shadow: 60px -60px 0px #f4e401,
		50px -50px 0px #f4e401,
		40px -40px 0px #f4e401,
		30px -30px 0px #f4e401,
		20px -20px 0px #f4e401,
		10px -10px 0px #f4e401,
		10px -0px 0px #f4e401;



		transform: translate(-300px,-260px) rotate(155deg) skewX(65deg) scale(0.2, 0.2);
	}
}